[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
drf-yasg  = "==1.20.0"
environs = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
